body {
    text-align: center;
}

p {
    font-size: xx-large;
    font-weight: bold;
}

button, .computer-choice {
    background: #468B97;
    border: 0;
    padding: 25px;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

svg{
    height: 50px;
    fill: #fff;
}

.computer-choice svg {
    display: none;
}

.result {
    font-size: xx-large;
    margin-top: 20px;
}

@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.computer-choice {
    animation: spin 1s infinite linear;
}

.computer-choice.stop-spinning {
    animation: none;
}