body {
    text-align: center;
}

button, .computer-choice {
    background: #468B97;
    border: 0;
    padding: 25px;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

svg{
    height: 50px;
    fill: #fff;
}

.computer-choice svg {
    display: none;
}